.print-headers {
  text-align: center; font-weight: bold; font-family: Arial, Helvetica, sans-serif;
}

.column-headers {
  text-align: center; font-size: 12px;
}

table {
  border: 3px;
}

.columnCenter {
  text-align: center;
}

.recordContent {
  font-size: 12px;
}
