.card-header-style{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(1,11,66);
    font-size:17px;
}
.fruit-head{
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color:rgb(100, 100, 100);
    
}
.page-title{
    letter-spacing:4px;
    background-color:rgb(1,11,66);
    color:white;
    font-family: Futura;
    font-size: 16px;
    text-align: center;
    font-weight:bold;
}
.mealHeader{
    background-color:rgb(1,11,66);
    text-align:center;
    color:white;
    font-weight:bold;
}
.menuList{
    font-weight:bold;
    color:white;

}
