<div class="main-panel">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card page-title">
        <div class="card-header">
          <p>YOUR CURRENT ORDER</p>
        </div>
      </div>

      <div class="card">
        <!-- <div class="card-header card-header-style">YOUR ORDER</div><br> -->
        <div class="card-body">
          <div class="row">
            
            <div class="col-lg-6" >
                <span style="font-weight:bold;font-size:15px;">Dedase, Wilinda Manguiat</span><br>
                <span style="font-size:15px;">002120</span>
            </div>
            <div class="col-lg-6" style="text-align:right">
              <p>January 23, 2019 12:01:05pm</p>
            </div>
          </div><br>

          <div class="table">
            <table class="table">
              <tr class="fruit-head">
                <th>Quantity</th>
                <th>Item</th>
                <th>Amount</th>
              </tr>
              <tbody>
                <tr class="text-center">
                  <td>1</td>
                  <td>Vegetable</td>
                  <td>37</td>
                </tr>
                <tr class="text-center">
                  <td>1</td>
                  <td>Rice</td>
                  <td>8</td>
                </tr>
                <tr class="text-center">
                  <td>1</td>
                  <td>Soda</td>
                  <td>15</td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align:right;font-weight:bold;font-size:13px;">TOTAL PRICE:</td>
                  <td style="text-align:center;font-weight:bold;font-size:18px;">P60</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>