<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header ">
          <span class="card-title">Gordon College Employees Consumers Cooperative</span>
          <button type="button" class="btn btn-round btn-default side-button btn-simple btn-icon no-caret " ngbTooltip="Show Details">
            <i class="now-ui-icons loader_gear"></i>
          </button>
        </div>
        
        <div class="card-body ">
          <h5><strong>Content here</strong></h5>
          <div>Sample Content</div>
        </div>
      </div>
    </div>
  </div>
</div>
