.paf{
  background-color: rgb(50, 50, 255);
  color: white !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.pa{
  background-color: rgb(0, 114, 80);
  color: white !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.pn{
  background-color: lightgrey;
  color: black !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.p4u{
  background-color: rgb(255, 251, 0);
  color: black !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.sucmi{
  background-color: rgb(0, 208, 223);
  color: black !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.overalltotal{
  background-color: rgb(192, 4, 4);
  color: white !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.side-button{
  float: right;
}

th {
  font-size: 0.8rem !important;
  color: black !important;
  font-weight: bold !important;
}

.text-form {
  font-weight: bold;
}